body {
    font-family: 'poppins';
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.5s;
}

.cabecalho nav li a:hover {
    background-image: linear-gradient(#F18B19, #F5C41D, #F18B19);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px);
    padding: 0 30px 30px;
}

.container .imagem-titulo {
    max-width: 85%;
}

.container .descricao {
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0; 
}

.container .botao-trailer {
    background-image: linear-gradient(#F18B19, #F5C41D, #F18B19);
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.container .botao-trailer:hover {
    transform: scale(1.1);
}

.container .stone {
    max-width: 38%;
}

.fundo-video {
    background-image: linear-gradient(#F18B19, #F5C41D, #F18B19);
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,5) 100%);
}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .imagem-titulo {
        max-width: 75%;
    }

}